.title{
    font-size: 5rem;
    text-align: center;
    margin-bottom: 10%;
}

.container{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.userInterface {
  width: 50vh;
  height: 30vh;
  text-align: center;
  padding: 1vh;
  margin: auto;
  /*position: absolute;
  left: 50%;
  top: 60%;
  margin: -50px 0 0 -150px;*/
  background-color: orange;
  border-radius: 25px;
}

.number {
    font-size: 2rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.units {
    padding-top: 0;
    margin-top: 0;
}

button {
    border-radius: 15px;
    font-size: 1rem;
    width: 10vh;
    border: none;
    padding: 10px 10px;
    background-color: white;
}

button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.flashingLight {
  width: 50px;
  height: 50px;
  margin-left: 45%;
  background-color: black;
  /*
  position: absolute;
  top: 30%;
  margin: -25px 0 0 -25px;*/
  border-radius: 50%;
}

.darkened {
  background-color: black;
  margin-left: 52%;
}
